.topHeader
    background-image: url("https://images.unsplash.com/photo-1540593463874-59835505e99d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60");
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    margin: 0;
nav
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    a
        color: white;
        text-decoration: none;