#nav
    background-color: black;
    color: white;
    .user-view
        margin: 0;
        padding: 0;
        height: 30vh;
    .name, .email
        padding: 5px 0px
        font-weight: bold;
        background-color: rgba(255,255,255, 0.6)
        